<button (click)="pdfView = true">PDF View</button>
<button (click)="pdfView = false">HTML View</button>
<hr/>
<object [style.display]="pdfView ? 'block' : 'none'" style="width: 100%; height: 755px" type="application/pdf"
        [attr.data]="blobUrl">
  <p>Insert your error message here, if the PDF cannot be displayed.</p>
</object>
<div class="preview-area">
  <div [style.display]="pdfView ? 'none' : 'block'" class="main-pdf">
    <div #mainPage id="main-page">
      <img src="https://template.cityu.edu.hk/template/logo/sro/sro_logo_eng_cmyk.png" width="250px">
      <div style="text-align: center">
        <h2>Hall Annual Report &amp; RM Self-Appraisal</h2>
        <h3>for the year of 1 July 2019 to 30 June 2020</h3>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p style="text-align: right;">
        <em>Submission to DSR Office for consolidation on/before Thu, 8 August 2020</em>
      </p>
    </div>
  </div>
</div>
